<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.pool_size">20</property>
    <mapping class="domain.Product"/>
    <mapping class="domain.Supplier"/>
    <mapping class="domain.Invoice"/>
    <mapping class="domain.Consumer"/>
    <mapping class="domain.User"/>
    <mapping class="domain.Role"/>
    <mapping class="domain.Category"/>
    <mapping class="domain.Employee"/>
    <mapping class="domain.InvoiceDetail"/>
    <mapping class="domain.Receive"/>
    <mapping class="domain.RecevieDetail"/>


  </session-factory>
</hibernate-configuration>
